SERVER_PORT=8084

POSTGRES_DB=contactdb
POSTGRES_USER=contact
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5435

DB_URL=jdbc:postgresql://localhost:5435/contactdb
DB_USER=contact
DB_PASSWORD=change-me

JWT_SECRET=must-match-auth-service-secret
